.button_close{
  width: 25.5px;
  height: 25.5px;
  border: none;
  background-color: initial;
  background-image: url(/../static/images/Close.svg);
  background-position: center;
  background-repeat: no-repeat;
}