<form name="filterForm" class="filterForm">
  <div class="filter-form-wrapper">
    <div class="filter-tags">
      <h6 class="filter-header">Tags</h6>
      <div class="filter-tags-wrapper">
      </div>
      
    </div>
    <div class="filter-views">
      <h6 class="filter-header">Views</h6>
      @@include('radio_custom/index.html',{
        "class":"radio_filter",
        "id": "a",
        "name": "views",
        "label": "100-500"
      })
      @@include('radio_custom/index.html',{
        "class":"radio_filter",
        "id": "b",
        "name": "views",
        "label": "500-1000"
      })
      @@include('radio_custom/index.html',{
        "class":"radio_filter",
        "id": "c",
        "name": "views",
        "label": "1000-2000"
      })
    </div>
    <div class="filter-comments">
      <h6 class="filter-header">Comments</h6>
      @@include('checkbox_custom/index.html',{
        "id": "h",
        "name": "comments",
        "color": "#070707",
        "class": "checkbox_filter",
        "label": "0"
      })
      @@include('checkbox_custom/index.html',{
        "id": "g",
        "name": "comments",
        "color": "#070707",
        "class": "checkbox_filter",
        "label": "0-1"
      })
      @@include('checkbox_custom/index.html',{
        "id": "l",
        "name": "comments",
        "color": "#070707",
        "class": "checkbox_filter",
        "label": "1-50"
      })
      
    </div>
    <div class="filter-how-show">
      <h6 class="filter-header">How show?</h6>
      @@include('radio_custom/index.html',{
        "class":"radio_filter",
        "id": "d",
        "name": "howShow",
        "label": "show 5"
      })
      @@include('radio_custom/index.html',{
        "class":"radio_filter",
        "id": "e",
        "name": "howShow",
        "label": "show 10"
      })
    </div>
    <div class="filter-sort">
      <h6 class="filter-header">Sort by</h6>
      @@include('radio_custom/index.html',{
        "class":"radio_filter",
        "id": "f",
        "name": "sortBy",
        "label": "date"
      })
      @@include('radio_custom/index.html',{
        "class":"radio_filter",
        "id": "z",
        "name": "sortBy",
        "label": "title"
      })
      @@include('radio_custom/index.html',{
        "class":"radio_filter",
        "id": "y",
        "name": "sortBy",
        "label": "views"
      })
    </div>
    <div class="submit-block">
      @@include('button_white/index.html',{
        "type":"submit",
        "text":"Reset"
      })
    </div>
  </div>
  <div class="filter-search-block">
    <input type="text" class="text-input text-input_filter">
    <div class="submit-block_search">
      @@include('button_white/index.html',{
        "type":"submit",
        "text":"Search"
      })

    </div>
  </div>
  
</form>
<div class="card-box">
</div>
    
