.link_radial{
  display: block;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  text-align: center;
  color: #070707;
  border: 2.5px solid #070707;
  border-radius: 30px;
  box-sizing: border-box;
  text-decoration: none;
}