<div class="form-wrapper register-form-wrapper hidden">
  <form name="register" method="POST" action="" class="form-style form_register">
    <label for="emailRegister" class="text-label label_star">Email</label>
    <input type="text" name="emailRegister" id="emailRegister" class="text-input email_reg">
    <div class="grid-input-block">
      <div class="input-wrapper">
        <label for="nameRegister" class="text-label label_star">Name</label>
        <input type="text" name="nameRegister" id="nameRegister" class="text-input ">
      </div>
      <div class="input-wrapper">
        <label for="surnameRegister" class="text-label label_star">Surname</label>
        <input type="text" name="surnameRegister" id="surnameRegister" class="text-input ">
      </div>
      <div class="input-wrapper">
        <label for="passwordRegister" class="text-label label_star">Password</label>
        <input type="password" name="passwordRegister" id="passwordRegister" class="text-input ">
      </div>
      <div class="input-wrapper">
        <label for="passwordRepeatRegister" class="text-label label_star">Repeat password</label>
        <input type="password" name="passwordRepeatRegister" id="passwordRepeatRegister" class="text-input ">
      </div>
      <div class="input-wrapper">
        <label for="locationRegister" class="text-label label_star">Location</label>
        <input type="text" name="locationRegister" id="locationRegister" class="text-input ">
      </div>
      <div class="input-wrapper">
        <label for="ageRegister" class="text-label label_star">Age</label>
        <input type="text" name="ageRegister" id="ageRegister" class="text-input ">
      </div>
      
    </div>
    @@include('checkbox_custom/index.html',{
      "label":"Clicking on the button, you consent to the processing of your personal data."
    })
    @@include('button_white/index.html',{
      "class":"form-button",
      "text":"Sign up"
    })
    <div class="cross-wrapper">
      @@include('button_close/index.html',{
        "class":"registerModalClose"
      })
    </div>
  </form>
</div>