<header class="header">
  <div class="header__wrapper">
    <a href="@@href1" class="header__link @@class1">@@link1</a>
    <ul class="header__menu">
      <li class="header__menu-item">
        <a href="@@href2" class="header__link @@class2">@@link2</a>
      </li>
      <li class="header__menu-item">
        <a href="@@href3" class="header__link @@class3 header__link_sign">@@link3</a>
      </li>
      <li class="header__menu-item">
        <a href="@@href4" class="header__link @@class4 header__link_register">@@link4</a>
      </li>
    </ul>
  </div>
  <div class="header__modal hidden">
    <button class="header__modal-close">
    </button>
    <a href="@@href1" class="header__link header__modal-link @@class1">@@link1</a>
    <ul class="header__modal-menu">
      <li class="header__modal-menu-item">
        <a href="@@href2" class="header__link header__modal-link @@class2">@@link2</a>
      </li>
      <li class="header__modal-menu-item">
        <a href="@@href3" class="header__link header__modal-link @@class3 header__link_sign">@@link3</a>
      </li>
      <li class="header__modal-menu-item">
        <a href="@@href4" class="header__link header__modal-link @@class4 header__link_register">@@link4</a>
      </li>
    </ul>
  </div>
</header>