// Подключение компонентов


@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400i,700i|Montserrat:700|Open+Sans:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700&display=swap); 

@font-face {
  font-family: "Gilroy";
  src: url("../static/fonts/Gilroy-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../static/fonts/Gilroy-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}



body{

  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #070707;
}


.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10%;
}


.page-title{
  font-style: normal;
  font-weight: bold;
  font-size: 47px;
  line-height: 57px;
  color: #070707;
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.section-title{
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  color: #070707;
}

//form

.form-wrapper{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(246, 246, 246, 0.99);
}

.form-style{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border: 2.5px solid #070707;
  background-color: #ffffff;
}

.text-input{
  font-size: 18px;
  line-height: 21px;
  padding: 14px;
  border: 3px solid #E5E5E5;
  width: 100%;
  min-width: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.grid-input-block{
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-gap: 0 20px;
}

.text-label{
  display: block;
  padding-bottom: 6px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #070707;
}

.label_star::after{
  content: " *";
  color: #eb3617;
}

.cross-wrapper{
  position: absolute;
  top: 0;
  right: -35px;
}

.form-button{
  margin-top: 10px;
}

.hidden{
  display: none;
}


//sections
@import "./header/header";
@import "./avatar-section/avatar-section";
@import "./change-photo-menu/change-photo-menu";
@import "./about-me-section/about-me";
@import "./footer/footer";
@import "./skills-section/skills";
@import "./profile-section/profile-section";
@import "./portfolio-section/portfolio-section";
//buttons
@import "./button_black/button_black";
@import "./button_white/button_white";
@import "./button_close/button_close";
@import "./checkbox_custom/checkbox_custom";
@import "./link_radial-border/link_radial";
//modals
@import "./sign-modal/sign-modal";
@import "./register-modal/register-modal";
@import "./send-message-modal/send-message-modal";
@import "./password-edit-modal/password-edit-modal";
@import "./data-edit-modal/data-edit-modal"









