<section class="portfolio-section">
  <div class="container">
    <h1 class="portfolio-section__title section-title">
      Portfolio
    </h1>
    <div class="portfolio-section__slider-wrapper">
      <div class="portfolio-section__slider">
        <div class="portfolio-section__slide">
          <img src="/../static/images/slider-pic.png" alt="">
        </div>
        <div class="portfolio-section__slide">
          <img src="/../static/images/slider-pic.png" alt="">
        </div>
        <div class="portfolio-section__slide">
          <img src="/../static/images/slider-pic.png" alt="">
        </div>
        <div class="portfolio-section__slide">
          <img src="/../static/images/slider-pic.png" alt="">
        </div>
      </div>
      <div class="portfolio-section__button-wrapper">
        <button class="portfolio-section__button portfolio-section__arrow_left"></button>
        <button class="portfolio-section__button portfolio-section__arrow_right"></button>
      </div>
      <div class="portfolio-section__pagination">
      </div>
      <div class="portfolio-section__slider-info">
        <a href="#" class="portfolio-section__link_dl">
          <h2 class="portfolio-section__slider-info-title">
            Learning site for DL Academy courses
          </h2>
        </a>
            <p class="portfolio-section__slider-info-text">
              A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.
            </p>
      </div>
    </div>
  </div>
</section>

