<footer class="footer">
  <h2 class="section-title">
    Contacts
  </h2>
  <p class="footer__text">
    <span>Want to know more or just chat? </span> 
    <span>You are welcome!</span>
  </p>
  @@include('button_black/index.html',{
    "text":"Send message"
  })
  <ul class="footer__link-list">
    <li class="footer__link-item">
      @@include('link_radial-border/index.html',{
        "href":"",
        "link-name":"Instagram"
      })
    </li>
    <li class="footer__link-item">
      @@include('link_radial-border/index.html',{
        "link-name":"Vk"
      })
    </li>
    <li class="footer__link-item">
      @@include('link_radial-border/index.html',{
        "link-name":"Telegram"
      })
    </li>
    <li class="footer__link-item">
      @@include('link_radial-border/index.html',{
        "link-name":"Mail"
      })
    </li>
    <li class="footer__link-item">
      @@include('link_radial-border/index.html',{
        "link-name":"GitHub"
      })
    </li>
    <li class="footer__link-item">
      @@include('link_radial-border/index.html',{
        "link-name":"Phone"
      })
    </li>
</ul>
<p class="footer__text footer__text_grey">
  <span>Design by <a href="#">DL Academy</a></span>
  <span>Program code from Dmitriy</span>
</p>
</footer>