.change-photo-menu__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.arrow-button{
  width: 42px;
  height: 42px;
  background-color: initial;
  border: 2.5px solid #070707;
  border-radius: 21px;
  box-sizing: border-box;
}

.avatar-button_left{
  background-image: url(/../static/images/left.svg);
  background-repeat: no-repeat;
  background-position: 9px;
}

.avatar-button_right{
  background-image: url(/../static/images/right.svg);
  background-repeat: no-repeat;
  background-position: 13px;
}

.photo-indicator-list{
  list-style: none;
  padding: 0;
  display: flex;
}

.photo-indicator-item{
  padding: 0 5px;
}

.photo-indicator-button{
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background-color: #E5E5E5;
}

.photo-indicator-button_active{
  background-color: #070707;
}