<div class="change-photo-menu__wrapper">
  <button class="arrow-button left-button">
  </button>
  <ul class="photo-indicator-list">
    <li class="photo-indicator-item">
      <button class="photo-indicator-button photo-indicator-button_active">
      </button>
    </li>
    <li class="photo-indicator-item">
      <button class="photo-indicator-button">
      </button>
    </li>
    <li class="photo-indicator-item">
      <button class="photo-indicator-button">
      </button>
    </li>
    <li class="photo-indicator-item">
      <button class="photo-indicator-button">
      </button>
    </li>
  </ul>
  <button class="arrow-button right-button">
  </button>
</div>
