.skills-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-list{
  
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 -12.5px;
  box-sizing: border-box;
  
}

.skills-item{
  max-width: 180px;
  margin: 12.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  //text-align: center;
  color: #828282;
}

.skills-item > svg{
  padding-bottom: 20px;
}

.skills-item > span{
  padding-bottom: 30px;
}

.skills-scale-wrapper{
  width: 100%;
  display: flex;
  align-items: baseline;
  
}

.scale-percent{
  min-width: 38px;
  
}