<section class="avatar-section">
  <div class="avatar-section__title-block">
    <h1 class="avatar-section__name-title page-title">
      Dmitriy Kornienko
    </h1>
    <p class="avatar-section__profile-info">
      Future front-end developer
31 years old, Tolyatti
    </p>
  </div>
  <div class="avatar-section__photo-wrapper">
    <picture class="avatar-section__photo">
      <source srcset="">
      <img src="/../static/images/avatar.jpg" alt="avatar">
    </picture>
  </div>
  @@include('change-photo-menu/index.html')
</section>