<!--
  <div class="checkbox-wrapper">
  <input type="checkbox" class="checkbox-wrapper__oldstyle" name="@@name" id="@@id"> 
  <span class="checkbox-wrapper__newstyle @@class"></span>

  <label for="@@id" class="checkbox-wrapper__label @@class">
    @@label 
  </label>
</div>
-->

<div class="checkbox-wrapper @@class">
  <input type="checkbox" class="checkbox-wrapper__oldstyle" name="@@name" id="@@id">

  <label for="@@id" class="checkbox-wrapper__label @@class">
      <svg class="checkbox-wrapper__svg @@class" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="1.25" y="1.25" width="22.5" height="22.5" rx="3.75" stroke="@@color" stroke-width="2.5" class="checkbox-wrapper__svg-square"/>
          <path d="M7 11.75L10.913 17.77C11.2013 18.2135 11.8584 18.1893 12.1133 17.7259L18.425 6.25" stroke="@@color"
                stroke-width="2.5" stroke-linecap="round" class="checkbox-wrapper__svg-arrow"/>
      </svg>
      
  </label>
</div>